.top {
    height: 100px;
    width: 1600px;
    background-color: #909090;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 10px 5px black;
}

body {
    background-color: #505050;
}

.day_42 {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 10px;
}

.loupe {
    width: 10%;
    height: 115%;
    position: absolute;
    right: 50px;
}

.reload {
    width: 2%;
    height: 20%;
    position: absolute;
    top: 8px;
    right: 15px;
}

.close {
    width: 2%;
    height: 20%;
    position: absolute;
    right: 15px;
    bottom: 8px;
}

.towel {
    height: 80px;
    width: 110px;
    margin: 10px auto;
    background-image: url(resources/towel.png);
    background-size: cover;
}

.book {
    height: 30%;
    width: 70%;
    margin: auto auto;
    background-image: url(resources/book.png);
    background-size: cover;
}

.brick {
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
    width: 100px;
    height: 70px;
    margin: 10px auto;
}

.arrow {
    height: 70px;
    width: 70px;
    margin: 10px 40px auto;
    background-size: cover;
    background-image: url(resources/arrow.png);
}

.main {
    height: 70px;
    width: 70px;
    margin: 10px 40px auto;
    background-size: cover;
    background-image: url(resources/main.png);
}

.oeil {
    height: 70px;
    width: 70px;
    margin: 10px 40px auto;
    background-size: cover;
    background-image: url(resources/oeil.png);
}

.outil {
    height: 70px;
    width: 70px;
    margin: 10px 40px auto;
    background-size: cover;
    background-image: url(resources/outil.png);
}

.chat-icon {
    height: 70px;
    width: 70px;
    margin: 10px 40px auto;
    background-size: cover;
    background-image: url(resources/chat-icon.png);
}

.cluster {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.left_side ,.right_side, .main_side {
    background-color: #909090;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.main_side {
    padding: 15px;
}

.left_side, .right_side {
    width: 150px;
    height: 450px;
    margin: 10px;
}

.bottom {
    display: flex;
    padding: 10px;
    margin-left: 10px;
    margin: 0 auto;
    justify-content: center;
}

.loupe:hover, .reload:hover, .close:hover, .arrow:hover, .main:hover, .oeil:hover, .outil:hover, .chat-icon:hover, .book:hover, .towel:hover, .brick:hover {
    border: 3px solid #f22222;
}

.wrapper {
	background-color: rgb(144, 144, 144);
	border-radius: 10px;
	box-shadow: 10px 10px 10px 0px rgb(0, 0, 0);
	margin: 10px;
	vertical-align: top;
}

.forma {
	position: relative;
	top: -50px;
	left: -350px;
	width: 400px;
	height: 120px;
	margin: 0 auto;
	background-color: rgb(167, 251, 150);
	padding: 15px 10px;
	font-family: sans-serif;
	font-size: 15px;
}