img {
    height: 20%;
    width: 30%;
    position: center;
}

table {
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
}

td.s {
    background-color: blueviolet;
    border: 2px black solid;
}

td.d {
    background-color: aqua;
    border: 2px black solid;
}

td.p {
    background-color: yellow;
    border: 2px black solid;
}

td.f {
    background-color: green;
    border: 2px black solid;
}

p.test {
    text-align: center;
}

div.number {
    text-align: left;
    font-size: 1vw;
}

div.name {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

div.atom_mass {
    text-align: right;
    font-size: 1vw;
}